<p id="notice"><%= notice %></p>
<div class="divide80"></div>
<p>
  <strong>Título:</strong>
  <%= @content.title %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @content.body %>
</p>

<% if @content.image.exists? %>
	<p>
	  <strong>Imagen:</strong> 
	  <br>
	  <div class="row">
	  	<div class="col-md-6">
	  		<%= image_tag @content.image.url, :class => 'thumb-image' %>
	  	</div>
	  </div>
	  
	</p>
<% end %>
<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', root_path %>
