<%= form_for(direcciones_factura) do |f| %>
  <% if direcciones_factura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(direcciones_factura.errors.count, "error") %> prohibited this direcciones_factura from being saved:</h2>

      <ul>
      <% direcciones_factura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :estado %>
    <%= f.text_field :estado %>
  </div>

  <div class="field">
    <%= f.label :municipio %>
    <%= f.text_field :municipio %>
  </div>

  <div class="field">
    <%= f.label :colonia, 'Calle' %>
    <%= f.text_field :colonia %>
  </div>

  <div class="field">
    <%= f.label :numero %>
    <%= f.number_field :numero %>
  </div>

  <div class="field">
    <%= f.label :cp %>
    <%= f.number_field :cp %>
  </div>

  <div class="field">
    <%= f.label :rfc %>
    <%= f.text_field :rfc %>
  </div>

  <div class="field">
    <%= f.label :notas %>
    <%= f.text_area :notas %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>


  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
