<div class="divide80"></div>


<p id="notice"><%= notice %></p>

<p>
  <strong>Estado:</strong>
  <%= @direcciones_factura.estado %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @direcciones_factura.municipio %>
</p>

<p>
  <strong>Colonia:</strong>
  <%= @direcciones_factura.colonia %>
</p>

<p>
  <strong>Número:</strong>
  <%= @direcciones_factura.numero %>
</p>

<p>
  <strong>C.P:</strong>
  <%= @direcciones_factura.cp %>
</p>

<p>
  <strong>RFC:</strong>
  <%= @direcciones_factura.rfc %>
</p>

<p>
  <strong>Notas:</strong>
  <%= @direcciones_factura.notas %>
</p>

<%= link_to 'Editar', edit_direcciones_factura_path(@direcciones_factura), class:'btn btn-primary' %> |
<%= link_to 'Regresar', direcciones_facturas_path, class:'btn btn-primary' %>

<div class="divide40"></div>