<p id="notice"><%= notice %></p>
<div class="divide80"></div>

<div class="container">
  <div class="row">  
        <div class="col-md-12">
            <div>
                <h3>Productos especiales</h3>
                <div role="tabpanel" class="login-regiter-tabs">

                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs text-center" role="tablist">
                      <li role="presentation" class="active"><a href="#aprobados" aria-controls="login" role="tab" data-toggle="tab">Aprobados</a></li>
                      <li role="presentation"><a href="#noaprobados" aria-controls="profile" role="tab" data-toggle="tab">No aprobados</a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                      <div role="tabpanel" class="tab-pane active" id="aprobados">
                        <h4 class="margin30 text-center">Productos aprobados</h4>
                          <div class="row">
                            <% @productos_especiales.each do |producto| %>
                              <div class="col-md-3">
                                <div class="item_holder">
                                    <a href="#"><%= image_tag producto.image.url, :class => "thumb-image" %></a>
                                    <div class="title">
                                        <h5><%= producto.nombre %><br><%= producto.acabado %></h5>
                                    </div>
                                    <%= link_to 'Ver', producto %>
                                    <% if current_user.admin? %>
                                      <%= link_to 'Editar', edit_producto_path(producto) %>
                                    <%= link_to 'Borrar', producto, method: :delete, data: { confirm: 'Are you sure?' } %>
                                    <% end %>
                                </div><!--item holder-->
                              </div><!--col end-->
                            <% end %>
                          </div>
                      </div><!--login tab end-->
                      <div role="tabpanel" class="tab-pane" id="noaprobados">
                          <h4 class="margin30 text-center">Productos no aprobados</h4>
                          <div class="row">
                            <% @newproductos_especiales.each do |producto| %>
                              <div class="col-md-3">
                                <div class="item_holder">
                                    <a href="#"><%= image_tag producto.image.url, :class => "thumb-image" %></a>
                                    <div class="title">
                                        <h5><%= producto.nombre %><br><%= producto.acabado %></h5>
                                    </div>
                                    <% if !producto.aprobado && current_user.admin? %>
                                            <%= button_to "Aprobar", { :controller => "productos_especiales", :action => "aprobar" }, :method => :get, params: { productos_especiale_id: producto.id } %>
                                    <% end %>
                                    <%= link_to 'Ver', producto %>
                                    <% if current_user.admin? %>
                                      <%= link_to 'Editar', edit_producto_path(producto) %>
                                    <%= link_to 'Borrar', producto, method: :delete, data: { confirm: 'Are you sure?' } %>
                                    <% end %>
                                </div><!--item holder-->
                              </div><!--col end-->
                            <% end %>
                          </div>
                      </div><!--register tab end-->
                  </div>
                </div>
            </div>
        </div>
    </div>
    <% if !current_user.admin? && !current_user.empleado? %>
      <%= link_to 'Nuevo producto especial', new_productos_especiale_path, class: 'btn btn-primary' %>
    <% end %>
    <div class="divide80"></div>


</div>
