<p id="notice"><%= notice %></p>

<div class="divide80"></div>
<p>
  <strong>Nombre:</strong>
  <%= @productos_especiale.nombre %>
</p>

<p>
  <strong>Acabado:</strong>
  <%= @productos_especiale.acabado %>
</p>

<p>
  <strong>Aprobado:</strong>
  <%= @productos_especiale.aprobado %>
</p>

<p>
    <strong>Producto:</strong> 
    <br>
    <div class="row">
      <div class="col-md-3">
        <%= image_tag @productos_especiale.image.url %>
      </div>
    </div>
    
  </p>

<% if current_user.admin? %>
	<p>
	  <strong>User:</strong>
	  <%= @productos_especiale.user.id %>
	</p>
<% end %>

<%= link_to 'Edit', edit_productos_especiale_path(@productos_especiale), :class => 'btn btn-primary' %> |
<%= link_to 'Back', productos_especiales_path, :class => 'btn btn-primary' %>
<div class="divide40"></div>