<p id="notice"><%= notice %></p>

<h1>Razones Comerciales</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Area</th>
      <th>Telefono1</th>
      <th>Telefono2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @razones_comerciales.each do |razones_comerciale| %>
      <tr>
        <td><%= razones_comerciale.nombre %></td>
        <td><%= razones_comerciale.area %></td>
        <td><%= razones_comerciale.telefono1 %></td>
        <td><%= razones_comerciale.telefono2 %></td>
        <td><%= link_to 'Show', razones_comerciale %></td>
        <td><%= link_to 'Edit', edit_razones_comerciale_path(razones_comerciale) %></td>
        <td><%= link_to 'Destroy', razones_comerciale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Razones Comerciale', new_razones_comerciale_path(:razon => @razones_sociale) %>
<%= link_to 'Back', razones_sociales_path%>