<div class="divide80"></div>

<p id="notice"><%= notice %></p>

<h1>Razones Comerciales</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Área</th>
      <th>Teléfono 1</th>
      <th>Teléfono2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @razones_comerciales.each do |razones_comerciale| %>
      <tr>
        <td><%= razones_comerciale.nombre %></td>
        <td><%= razones_comerciale.area %></td>
        <td><%= razones_comerciale.telefono1 %></td>
        <td><%= razones_comerciale.telefono2 %></td>
        <td><%= link_to 'Ver', razones_comerciale %></td>
        <td><%= link_to 'Editar', edit_razones_comerciale_path(razones_comerciale) %></td>
        <td><%= link_to 'Eliminar', razones_comerciale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Razón Comercial', new_razones_comerciale_path(:razon => @razones_sociale), class:'btn btn-primary' %>
<%= link_to 'Regresar', razones_sociales_path, class:'btn btn-primary' %>

<div class="divide40"></div>
