<div class="divide80"></div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @razones_comerciale.nombre %>
</p>

<p>
  <strong>Área:</strong>
  <%= @razones_comerciale.area %>
</p>

<p>
  <strong>Teléfono 1:</strong>
  <%= @razones_comerciale.telefono1 %>
</p>

<p>
  <strong>Teléfono 2:</strong>
  <%= @razones_comerciale.telefono2 %>
</p>


<%= link_to 'Editar', edit_razones_comerciale_path(@razones_comerciale), class:'btn btn-primary' %> |
<%= link_to 'Regresar', razones_comerciales_path(:razon => @razones_sociale), class:'btn btn-primary' %>


<div class="divide40"></div>