<div class="divide80"></div>
<p id="notice"><%= notice %></p>

<h1>Productos</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Producto</th>
      <th>Acabado</th>
      <th>Imagen</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_orders.each do |product_order| %>
      <tr>
        <td><%= product_order.cantidad %></td>
        <% if Pedido.find(product_order.pedido_id).tipo == 'Especial' %>
          <td><%= ProductosEspeciale.find(product_order.producto_id).nombre %></td>
          <td><%= ProductosEspeciale.find(product_order.producto_id).acabado %></td>
          <td><%= image_tag ProductosEspeciale.find(product_order.producto_id).image.url, :class => "small-img" %></td>
        <% else %>
          <td><%= Producto.find(product_order.producto_id).nombre %></td>
          <td><%= Producto.find(product_order.producto_id).acabado %></td>
          <td><%= image_tag Producto.find(product_order.producto_id).image.url, :class => "small-img" %></td>
        <% end %>
        <td><%= link_to 'Editar', edit_product_order_path(product_order) %></td>
        <td><%= link_to 'Eliminar', product_order, method: :delete, data: { confirm: '¿Desea eliminar el producto?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo producto', new_product_order_path(:pedido => @pedido), :class => 'btn btn-primary' %>
<% if current_user.admin? %>
  <%= link_to 'Continuar', edit_pedido_path(@pedido, :nuevo => 'true'), :class => 'btn btn-primary' %>
<% else %>
  <%= link_to 'Continuar', pedidos_path, :class => 'btn btn-primary' %>
<% end %>
<div class="divide40"></div>