<div class="divide80"></div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @product_order.cantidad %>
</p>

<p>
  <strong>Producto:</strong>
  <%= Producto.find(@product_order.producto_id).nombre + ' ' + Producto.find(@product_order.producto_id).acabado %>
</p>

<p>
  <strong>Pedido:</strong>
  <%= @product_order.pedido_id %>
</p>

<%= link_to 'Editar', edit_product_order_path(@product_order), class:'btn btn-primary'  %> |
<%= link_to 'Regresar', product_orders_path(:pedido => @pedido), class:'btn btn-primary'  %>

<div class="divide40"></div>
