<%= form_for(razones_sociale) do |f| %>
  <% if razones_sociale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(razones_sociale.errors.count, "error") %> prohibited this razones_sociale from being saved:</h2>

      <ul>
      <% razones_sociale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre, '*Nombre' %>
    <%= f.text_field :nombre,:required => true  %>
  </div>

  <div class="field">
    <%= f.label :rfc, '*RFC' %>
    <%= f.text_field :rfc,:required => true  %>
  </div>

  <div class="field">
    <%= f.label :email, '*Email' %>
    <%= f.text_field :email,:required => true  %>
  </div>

  <div class="field">
    <%= f.label :direccion, '*Dirección' %>
    <%= f.text_field :direccion,:required => true  %>
  </div>

  <div class="field">
    <%= f.label :telefono, '*Teléfono' %>
    <%= f.text_field :telefono,:required => true  %>
  </div>

  <div class="field">
    <%= f.label :notas %>
    <%= f.text_area :notas %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>


  <div class="actions">
    <%= f.submit :class => 'btn btn-primary'%>
  </div>
<% end %>
