<div class="divide80"></div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @razones_sociale.nombre %>
</p>

<p>
  <strong>RFC:</strong>
  <%= @razones_sociale.rfc %>
</p>

<p>
  <strong>Email:</strong>
  <%= @razones_sociale.email %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @razones_sociale.direccion %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @razones_sociale.telefono %>
</p>

<p>
  <strong>Notas:</strong>
  <%= @razones_sociale.notas %>
</p>



<%= link_to 'Editar', edit_razones_sociale_path(@razones_sociale), class:'btn btn-primary' %> |
<%= link_to 'Regresar', razones_sociales_path, class:'btn btn-primary' %>

<div class="divide40"></div>