<div class="divide80"></div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Folio:</strong>
  <%= @factura.folio %>
</p>

<p>
  <strong>Factura:</strong> 
  <br>
  <div class="row">
  	<div class="col-md-6">
  		<%= image_tag @factura.image.url, :class => "thumb-image" %>
  	</div>
  </div>
  
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@factura.user_id).nombre %>
</p>

<p>
  <strong>Pedido:</strong>
  <%= @factura.pedido_id %>
</p>

<%= link_to 'Editar', edit_factura_path(@factura), class:'btn btn-primary' %> |
<%= link_to 'Volver', pedidos_path, class:'btn btn-primary' %>
<div class="divide40"></div>