<div class="top-bar-dark">            
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-right">
                <ul class="list-inline top-dark-right">
                <% if user_signed_in? %>
                  <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
                <% else %>
                  <li><%= link_to 'Log In', new_user_session_path %></li>
                  <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to 'DECOVI', root_path, class: "navbar-brand" %>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <%= link_to 'Home', root_path%>
                </li>
                <li class="dropdown ">
                    <%= link_to 'Información', home_about_path %>
                </li>
                <li class="dropdown ">
                    <%= link_to 'Productos', home_productos_path%>
                </li>
                <li class="dropdown ">
                    <%= link_to 'Servicios', home_servicios_path%>
                </li>
                <li class="dropdown ">
                    <%= link_to 'Contacto', home_contacto_path%>
                </li>
                <% if user_signed_in? %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pedidos</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><%= link_to 'Nuevo Pedido', new_pedido_path %></li>
                            <li><%= link_to 'Listar Pedidos', pedidos_path %></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrar</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><%= link_to 'Edit', edit_user_registration_path %></li>
                            <% if current_user.admin? %>
                                <li><%= link_to 'Users', users_index_path %></li>
                            <% end %>
                            <% if current_user.empresa? %>
                                <li><%= link_to 'Workers', workers_index_path %></li>
                            <% end %>
                        </ul>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>