
<div class="divide80"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6 margin20">
            <h2 class="heading"><%= @content1.title %></h2>
            <p>
                <%= @content1.body %>
            </p>
            <% if user_signed_in? %>
                <% if current_user.admin? %>
                    <%= link_to 'Edit', edit_content_path(@content1) %>
                <% end %>
            <% end %>
        </div>
        <div class="col-md-6">
            <% if @content1.image.exists? %>
                <%= image_tag @content1.image.url(:medium) %>
            <% else %>
                <%= image_tag("imgDecovi.png", class:'img-responsive') %>
            <% end %>
        </div>
    </div>
</div>