<section id="home-parallax" class="parallax" data-stellar-background-ratio="0.5">
    <div class="container text-center">
        <h1 class="white"><%= @content1.title %></h1>
        <p class="lead"><%= @content1.body %></p>
        <% if user_signed_in? %>
            <% if current_user.admin? %>
                <%= link_to 'Edit', edit_content_path(@content1) %>
            <% end %>
        <% end %>
        <span class="parallax-buttons">
            <%= link_to 'Ver productos', home_productos_path, class: "btn border-white btn-lg"%>
        </span>
    </div>
</section><!--parallax-background-->

<div class="divide60"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="center-heading">
                <h2><%= @content2.title %></h2>
                <span class="center-line"></span>
                <p class="sub-text margin40">
                    <%= @content2.body %></p>
                <% if user_signed_in? %>
                    <% if current_user.admin? %>
                        <%= link_to 'Edit', edit_content_path(@content2) %>
                    <% end %>
                <% end %>
            </div>
        </div>

    </div><!--center heading end-->
    <div class="divide50"></div>
    <div class="row">
        <div class="col-md-3 col-sm-6 margin30">
            <div class="colored-boxed green">
                <h3><%= @content3.title %></h3>
                <span class="center-line"></span>
                <p>
                    <%= @content3.body %>
                </p>
                <% if user_signed_in? %>
                    <% if current_user.admin? %>
                        <%= link_to 'Edit', edit_content_path(@content3) %>
                    <% end %>
                <% end %>
            </div>
        </div><!--colored boxed col end-->
        <div class="col-md-3 col-sm-6 margin30">
            <div class="colored-boxed dark">
                <h3><%= @content4.title %></h3>
                <span class="center-line"></span>
                <p>
                    <%= @content4.body %> 
                </p>
                <% if user_signed_in? %>
                    <% if current_user.admin? %>
                        <%= link_to 'Edit', edit_content_path(@content4) %>
                    <% end %>
                <% end %>
            </div>
        </div><!--colored boxed col end-->
        <div class="col-md-3 col-sm-6 margin30">
            <div class="colored-boxed blue">
                <h3><%= @content5.title %></h3>
                <span class="center-line"></span>
                <p>
                    <%= @content5.body %> 
                </p>
                <% if user_signed_in? %>
                    <% if current_user.admin? %>
                        <%= link_to 'Edit', edit_content_path(@content5) %>
                    <% end %>
                <% end %>
            </div>
        </div><!--colored boxed col end-->
        <div class="col-md-3 col-sm-6 margin30">
            <div class="colored-boxed red">
                <h3><%= @content6.title %></h3>
                <span class="center-line"></span>
                <p>
                    <%= @content6.body %>
                </p>
                <% if user_signed_in? %>
                    <% if current_user.admin? %>
                        <%= link_to 'Edit', edit_content_path(@content6) %>
                    <% end %>
                <% end %>
            </div>
        </div><!--colored boxed col end-->
    </div>
</div><!--services container-->

<script type="text/javascript">
    document.getElementById("mainContainer").className = "";
</script>
