<div class="divide80"></div>

<div class="container">
    <div class="center-heading">
        <h2>Servicios</h2>
        <span class="center-line"></span>
    </div>
    <div class="row">
        <div class="row special-feature">
                <div class="col-md-4 col-sm-6 margin20">
                    <div class="s-feature-box text-center">
                        <div class="mask-top">
                            <!-- Icon -->
                            <%= image_tag("shot-glass.png", class:'img-responsive center-block') %>
                            <!-- Title -->
                            <h4>Línea especial</h4>
                        </div>
                        <div class="mask-bottom">
                            <!-- Icon -->
                            <%= image_tag("shot-glass-small.png", class:'img-responsive center-block') %>
                            <!-- Title -->
                            <h4>Línea especial</h4>
                            <!-- Text -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.</p>
                        </div>
                    </div>
                </div><!--services col-->
                <div class="col-md-4 col-sm-6 margin20">
                    <div class="s-feature-box text-center">
                        <div class="mask-top">
                            <!-- Icon -->
                            <%= image_tag("shot-glass.png", class:'img-responsive center-block') %>
                            <!-- Title -->
                            <h4>Evento</h4>
                        </div>
                        <div class="mask-bottom">
                            <!-- Icon -->
                            <%= image_tag("shot-glass-small.png", class:'img-responsive center-block') %>
                            <!-- Title -->
                            <h4>Evento</h4>
                            <!-- Text -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.</p>
                        </div>
                    </div>
                </div><!--services col-->
                <div class="col-md-4 col-sm-6 margin20">
                    <div class="s-feature-box text-center">
                        <div class="mask-top">
                            <!-- Icon -->
                            <%= image_tag("shot-glass.png", class:'img-responsive center-block') %>
                            <!-- Title -->
                            <h4>Maquila</h4>
                        </div>
                        <div class="mask-bottom">
                            <!-- Icon -->
                            <%= image_tag("shot-glass-small.png", class:'img-responsive center-block') %>
                            <!-- Title -->
                            <h4>Maquila</h4>
                            <!-- Text -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis.</p>
                        </div>
                    </div>

                </div><!--services col-->
            </div>
    </div>
</div>