<%= form_for(pedido) do |f| %>
  <% if pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.admin? %>
  <%= f.label :user_id, 'Usuario: ' %>
    <%= f.select :user_id, options_for_select(@usuarios.reject {|user| user.id == current_user.id }.collect { |user|
    [user.nombre, user.id] }, 1), :required => true %>  
  <% end %>
  
   <div class="field">
    <%= f.label :tipo, '*Tipo' %>
    <%= f.select :tipo, options_for_select([['Línea', 'Línea'], ['Maquila', 'Maquila'], ['Especial','Especial']]),{:prompt => "Selecciona el tipo de pedido"}, :required => true %>
  </div>

  <% if current_user.empresa? || current_user.empleado? || (current_user.admin? && User.find(@pedido.user_id).empresa? )%>
    <div class="field">
      <%= f.label :razones_sociale_id, '*Razón social' %> 
      <%= f.select :razones_sociale_id, options_for_select(@razones_sociales.collect { |razon|
      [razon.nombre, razon.id] }),{:prompt => "Selecciona la razón social"}, :required => true %>  
    </div>

    <div class="field">
      <%= f.label :razones_comerciale_id, '*Razón comercial' %> 
      <%= f.select :razones_comerciale_id, options_for_select(@razones_comerciales.collect { |razon|
      [razon.nombre, razon.id] }),{:prompt => "Selecciona la razón comercial"}, :required => true %>  
    </div>
  <% end %>


  <% if current_user.individuo? || (current_user.admin? && User.find(@pedido.user_id).individuo? ) %>
    <div class="field">
      <%= f.label :direcciones_entrega_id %> 
      <%= f.select :direcciones_entrega_id, options_for_select(@direcciones_entregas.collect { |direccion|
      [direccion.colonia + ' ' + direccion.numero.to_s + ', ' + direccion.municipio + ' ' + direccion.estado, direccion.id] }),{:prompt => "Selecciona la dirección de entrega"}, :required => true %>  
    </div>

    
    <div class="field">
      <%= f.label :direcciones_factura_id %> 
      <%= f.select :direcciones_factura_id, options_for_select(@direcciones_facturas.collect { |direccion|
      [direccion.colonia + ' ' + direccion.numero.to_s + ', ' + direccion.municipio + ' ' + direccion.estado, direccion.id] }),{:prompt => "Selecciona la dirección de facturación"} %>  
    </div>
  <% end %>
  <%=f.hidden_field :estatus, :value => "Recibido"%> 

  <div class="actions">
    <%= f.submit :value => 'Continuar', :class => 'btn btn-primary' %>
  </div>
<% end %>

