<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @pedido.tipo %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @pedido.estatus %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
