<p id="notice"><%= notice %></p>
<div class="divide80"></div>

<h1>Productos</h1>

<div class="row">
  <% @productos.each do |producto| %>
    <div class="col-md-3">
      <div class="item_holder">
          <a href="#"><%= image_tag producto.image.url, :class => "thumb-image" %></a>
          <div class="title">
              <h5><%= producto.nombre %><br><%= producto.acabado %></h5>
          </div>
          <%= link_to 'Ver', producto %>
          <% if  current_user != nil && current_user.admin? %>
            <%= link_to 'Editar', edit_producto_path(producto) %>
          <%= link_to 'Borrar', producto, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
      </div><!--item holder-->
    </div><!--col end-->
  <% end %>
</div>

<br>

<% if current_user != nil && current_user.admin? %>
  <%= link_to 'Nuevo Producto', new_producto_path, class:'btn btn-primary' %>
<% end %>
<br>
<div class="divide40"></div>