<div class="divide80"></div>
<p id="notice"><%= notice %></p>


<div class="card">
  <div class="card-header">
    Producto
  </div>
  <div class="card-block">
    <h4 class="card-title"><%= @producto.nombre %></h4>
    <p class="card-text">Acabado: <%= @producto.acabado %> </p>
    <p>
	  <strong>Producto:</strong> 
	  <br>
    <div class="row">
      <div class="col-md-6">
        <%= image_tag @producto.image.url, :class => 'thumb-image' %>
      </div>
    </div>
	  
    <!-- <%= image_tag @producto.image.url(:medium) %> -->
	</p>
  
	<%= link_to 'Volver', productos_path, class:'btn btn-primary' %>
  </div>
</div>

<div class="divide40"></div>